---
import BaseHead from "../components/BaseHead.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <div class="container grid grid-rows-1 relative">
      <div class="menu-bar relative">
        <div
          class="flex flex-col justify-end items-end text-right grow flex-wrap mb-20 absolute bottom-0 right-0"
        >
          <nav class="aboutme mb-10">
            <span>I am</span>
            <br />
            <span class="text-lg mb-3 block">Rameez Kakodker</span><br />
            <span>and I can be found on</span><br />
            <div>
              <a href="linkedin">Linkedin</a><br />
              <a href="Medium">Medium</a><br />
              <a href="Instagram">Instagram</a><br />
            </div><br />
            <span>I write about</span><br />
            <div>
              <a href="">Product Management</a><br />
              <a href="">Design</a><br />
              <a href="">Technology</a><br />
              <a href="">Data</a><br />
            </div>
          </nav>
          <div class="logo">
            <span class="text-4xl font-extrabold block">
              <a href="/">
                <h1>mendicant bias</h1>
              </a>
            </span>
            <span class="text-sm font-light block">beggar after knowledge</span>
          </div>
          <div class="mt-10">thank you for reading!</div>
        </div>
      </div>
      <div class="main-content">
        <slot />
      </div>
    </div>
    <style>
      .container {
        grid-template-columns: 30% 1fr;
        margin: 0 auto;
        gap: 3rem;
      }
      body {
        background-color: #fefcf9;
        background-image: url("seamless_paper_texture.webp");
        background-blend-mode: color-burn;
      }
      .menu-bar {
        position: relative;
        height: 100dvh;
      }
      @media (max-width: 1024px) {
        .container {
          display: grid;
          position: relative;
          grid-template-columns: 1fr;
        }
        .menu-bar {
          position: fixed;
          bottom: 0;
          left: 0;
          width: 100%;
        }
      }
    </style>
  </body>
</html>
