---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { Icon } from "astro-icon";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <BaseHead title={title} description={description} />
    <style>
      .header {
        width: 18%;
      }
    </style>
  </head>
  <body>
    <div class="w-full h-4 accent top-bar bg-red-800"></div>
    <header class="flex flex-col justify-center mt-4 content-grid">
      <div class="breakout">
        <!-- menu -->
        <div class="flex flex-row justify-between mt-8">
          <nav>
            <ul class="flex flex-row justify-start gap-5">
              <li><a class="not-italic fancy-blur" href="">About</a></li>
              <li><a class="not-italic fancy-blur" href="">Articles</a></li>
              <li><a class="not-italic fancy-blur" href="">Notes</a></li>
              <li><a class="not-italic fancy-blur" href="">/uses</a></li>
            </ul>
          </nav>
          <div class="flex flex-row justify-start gap-5">
            <div class="w-5"><Icon pack="ri" name="search-line" /></div>
            <div class="w-5">
              <a class="fancy-blur" target="_blank" href=""
                ><Icon pack="ri" name="instagram-line" /></a
              >
            </div>
            <div class="w-5">
              <a class="fancy-blur" target="_blank" href="">
                <Icon pack="ri" name="medium-line" /></a
              >
            </div>
            <div class="w-5">
              <a class="fancy-blur" target="_blank" href="">
                <Icon pack="ri" name="linkedin-line" /></a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="text-center mt-8">
        <div>
          <a href="/">
            <h1>mendicant <span class="accent">•</span> bias</h1>
          </a>
          <span>scientia humilitas</span>
        </div>
      </div>
    </header>

    <main class="content-grid">
      <slot />
    </main>
    <footer>Footer</footer>
    <script client-side>
      window.addEventListener("load", () => {
        setTimeout(() => {
          console.log(
            window.performance.getEntriesByType("navigation")[0].toJSON()
          );
        }, 0);
      });
    </script>
  </body>
</html>
