---
import { ViewTransitions } from "astro:transitions";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/main/Footer.astro";
import Header from "../components/main/Header.astro";

import { sanityClient } from "sanity:client";
interface Props {
  title: string;
  description: string;
}

const siteSettings = await sanityClient.fetch(`*[_id == "siteSettings"]`);

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <BaseHead
      title={title ? title : siteSettings.title}
      description={description ? description : siteSettings.description}
    />
    <script is:inline src="/darkmode.js"></script>
    <ViewTransitions />
  </head>

  <body>
    <Header active="" transition:animate="none" />
    <main class="content-grid mt-8" transition:animate="fade">
      <slot />
    </main>
    <Footer />
  </body>
</html>
