---
import { ViewTransitions } from "astro:transitions";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/main/Footer.astro";
import Header from "../components/main/Header.astro";
import { getSiteSettings } from "../sanity/api";

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
const settings = await getSiteSettings();
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <BaseHead
      title={title ? title : settings.title}
      description={description ? description : settings.description}
    />
    <script is:inline src="/darkmode.js"></script>
    <ViewTransitions />
  </head>

  <body>
    <Header active="" transition:animate="none" />
    <main class="content-grid mt-8" transition:animate="fade">
      <slot />
    </main>
    <Footer />
  </body>
</html>
