---
import Layout from "../layouts/HomeLayout.astro";
import BlogList from "../components/main/BlogList.astro";
---

<Layout title="About Me" description="Lorem ipsum dolor sit amet">
  <!-- Iterate through the blog posts -->
  <div class="mt-4 flex flex-col text-left gap-10 relative">
    <div>These are some of my articles</div>
    <BlogList limit="4" />
  </div>
</Layout>
