---
import Layout from "../../layouts/HomeLayout.astro";
import BlogList from "../../components/main/BlogList.astro";
import ShowPhotoGallery from "../../components/gphotos/ShowPhotoGallery.astro";
---

<Layout
  title="Articles from Mendicant Bias"
  description="List of articles from Rameez Kakodker"
>
  <!-- Iterate through the blog posts -->
  <div class="flex flex-col text-left gap-10 relative breakout lg:mt-8">
    <BlogList limit="4" type="post" sortBy="latest" />
  </div>
</Layout>
