.filter-button {
  border-radius: 2rem;
  border: 1px solid #000;
  display: flex;
  flex-direction: row;
  padding-inline: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  justify-content: space-between;
  gap: 5px;
  width: fit-content;
  transition: transform 200ms ease-in-out;
}

.filter-button:hover {
  background-color: #000;
  color: #fff;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 0px 16px,
    rgba(17, 17, 26, 0.205) 0px 4px 32px;
  transform: translateY(-2px);
}
.filter-button:hover > [astro-icon] {
  color: #ffffff;
  /* OR */
  fill: #ffffff;
}

.filter-button.active,
.filter-button.active > [astro-icon] {
  color: #ffffff;
  /* OR */
  fill: #ffffff;
}
.filter-button.active {
  background-color: #000;
  color: #fff;
}
