@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,300;0,8..60,700;0,8..60,900;1,8..60,300;1,8..60,400;1,8..60,900&display=swap");

:root {
  --padding-inline: 1rem;
  --content-max-width: 900px;
  --breakout-max-width: 1200px;

  --breakout-size: calc(
    (var(--breakout-max-width) - var(--content-max-width)) / 2
  );

  --accent-color: #c73c3c;
  --text-color: #0a0a0a;
  --link-opacity-init: 0.8;

  /* Fonts */
  --fs-xl: clamp(1rem, 1vw + 1rem, 3rem);
  --fs-600: 2rem;
  --fs-400: 1.125rem;
  --fs-300: 1.125rem;
}

html {
  font-family: "Source Serif 4", Charter, "Bitstream Charter", "Sitka Text",
    Cambria, serif;
  font-weight: 400;
  font-display: swap;
  color: var(--text-color);
  background-color: #fcf6f6;
  font-size: var(--fs-400);
}

h1 {
  font-family: "Source Serif 4", Charter, "Bitstream Charter", "Sitka Text",
    Cambria, serif;
  font-weight: 900;
  font-size: var(--fs-xl);
  font-style: italic !important;
  letter-spacing: 0.01ch;
}
h2 {
  font-family: "Source Serif 4", Charter, "Bitstream Charter", "Sitka Text",
    Cambria, serif;
  font-weight: bold;
  font-size: var(--fs-600);
  font-style: normal !important;
}

.content-grid {
  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [breakout-start] minmax(0, var(--breakout-size))
    [content-start] min(
      100% - (var(--padding-inline) * 2),
      var(--content-max-width)
    )
    [content-end]
    minmax(0, var(--breakout-size)) [breakout-end]
    minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
  grid-column: content;
}

.content-grid > .breakout {
  grid-column: breakout;
}

.content-grid > .full-width {
  grid-column: full-width;
  display: grid;
  grid-template-columns: inherit;
}

img.full-width {
  width: 100%;
  max-height: 45vh;
  object-fit: cover;
}

[astro-icon] {
  color: #292525;
  /* OR */
  fill: #292525;
}

a {
  font-style: italic;
  font-weight: 400;
  opacity: var(--link-opacity-init);
  position: relative;
  transition: opacity 0.4s linear;
  display: block;
}
a:hover {
  opacity: 1;
  color: #000;
}
a.fancy-blur::after {
  background-color: rgb(253, 32, 32);
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  filter: blur(2px);
  transition: filter linear 400ms forwards;
}

a.fancy-blur:hover::after {
  filter: blur(10px);
  width: 100%;
  opacity: 0.5;
}

@keyframes steam {
}
