@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,300;0,8..60,700;0,8..60,900;1,8..60,300;1,8..60,400;1,8..60,900&display=swap");

:root {
  --padding-inline: 1rem;
  --content-max-width: 72ch;
  --breakout-max-width: 1400px;

  --breakout-size: calc(
    (var(--breakout-max-width) - var(--content-max-width)) / 2
  );
  --accent-hue: 0;
  --accent-color: hsl(var(--accent-hue), 55%, 51%);

  --text-color: #0a0a0a;
  --text-color-contrast: #fff;
  --link-opacity-init: 0.8;
  --button-border-color: rgba(0, 0, 0, 0.6);
  --bg-color: #fcf6f6;
  /* Fonts */
  --fs-xl: 1.7rem;
  --fs-600: 1.5rem;
  --fs-400: 1.125rem;
  --fs-300: 0.8rem;
}

html {
  font-family: "Source Serif 4", Charter, "Bitstream Charter", "Sitka Text",
    Cambria, serif;
  font-weight: 400;
  font-display: swap;
  color: var(--text-color);
  background-color: var(--bg-color);
  font-size: var(--fs-400);
}

h1 {
  font-family: "Source Serif 4", Charter, "Bitstream Charter", "Sitka Text",
    Cambria, serif;
  font-weight: 900;
  font-size: var(--fs-xl);
  font-style: italic !important;
  letter-spacing: 0.01ch;
}
h2 {
  font-family: "Source Serif 4", Charter, "Bitstream Charter", "Sitka Text",
    Cambria, serif;
  font-weight: bold;
  font-size: var(--fs-600);
  font-style: normal !important;
}

.content-grid {
  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [breakout-start] minmax(0, var(--breakout-size))
    [content-start] min(
      100% - (var(--padding-inline) * 2),
      var(--content-max-width)
    )
    [content-end]
    minmax(0, var(--breakout-size)) [breakout-end]
    minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
  grid-column: content;
}

.content-grid > .breakout {
  grid-column: breakout;
}

.content-grid > .full-width {
  grid-column: full-width;
  display: grid;
  grid-template-columns: inherit;
}

img.full-width {
  width: 100%;
  max-height: 45vh;
  object-fit: cover;
}

[astro-icon] {
  color: var(--text-color);
  /* OR */
  fill: var(--text-color);
}

a {
  font-style: italic;
  font-weight: 400;
  opacity: var(--link-opacity-init);
  position: relative;
  transition: opacity 0.4s linear;
  display: block;
}
a:hover {
  opacity: 1;
  color: var(--text-color);
}
a.fancy-blur::after {
  background-color: hsl(var(--accent-hue), 70%, 80%);
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  filter: blur(2px);
  transition: filter linear 400ms forwards;
}

a.fancy-blur:hover::after {
  filter: blur(10px);
  width: 100%;
  opacity: 0.3;
}

/* HEADER SHINENIGANS */

.top-bar {
  background-color: var(--accent-color);
}

.header-text-change > span {
  display: inline-flex;
  flex-direction: column;
  height: 1rem;
  overflow: hidden;
  align-items: flex-start;
}
.text-change-block {
  height: 1rem;
  color: var(--accent-color);
  animation: moveUp 8s ease-in-out running infinite;
}

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  7% {
    opacity: 1;
    transform: translateY(0);
  }
  42% {
    opacity: 1;
    transform: translateY(0);
  }
  49% {
    opacity: 0;
    transform: translateY(0);
  }
  50% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  57% {
    opacity: 1;
    transform: translateY(-1rem);
  }
  92% {
    opacity: 1;
    transform: translateY(-1rem);
  }
  99% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  :root {
    --link-opacity-init: 1;
  }

  header {
    display: flex !important;
    flex-direction: column-reverse !important;
  }
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}

/* FOOTER SHINENIGANS */

#timingValue {
  font-weight: 500;
}

/* BUTTON STUFF */

.filter-button {
  border-radius: 1.5rem;
  border: 1px solid var(--button-border-color);
  display: flex;
  flex-direction: row;
  padding-inline: 1rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  width: fit-content;
  transition: transform 200ms ease-in-out;
  font-size: var(--fs-300);
}

.filter-button:hover {
  background-color: var(--text-color);
  color: var(--text-color-contrast);
  box-shadow:
    rgba(17, 17, 26, 0.05) 0px 0px 16px,
    rgba(17, 17, 26, 0.205) 0px 4px 32px;
  transform: translateY(-2px);
}
.filter-button:hover > svg {
  color: var(--text-color-contrast);
  /* OR */
  fill: var(--text-color-contrast);
}

.filter-button.active,
.filter-button.active > svg {
  color: var(--text-color-contrast);
  /* OR */
  fill: var(--text-color-contrast);
}
.filter-button.active {
  background-color: var(--text-color);
  color: var(--text-color-contrast);
}

.icon {
  width: 1rem;
  height: 1rem;
}

div.main-content h2,
div.main-content h3,
div.main-content h4 {
  padding-top: 1rem;
  display: block;
}

.main-content h2 {
  font-weight: bold;
  font-size: var(--fs-600);
}

.main-content img {
  padding-top: 1rem;
  padding-bottom: 1rem;

  display: block;
}

.main-content blockquote {
  background: var(--accent-color);
  padding: 1.75rem 1rem 1.75rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 1vh;
  color: var(--text-color-contrast);
}

.dark .main-content blockquote {
  background: var(--accent-color);
  opacity: 0.9;
  transition: opacity 400ms ease-in-out;
}
.dark .main-content blockquote:hover {
  opacity: 1;
}

.main-content p {
  margin-top: 1vh;
}
.main-content ul {
  margin-top: 1.125rem;
}

.main-content li {
  margin-top: 1.125rem;
  margin-left: 1.125rem;
  list-style-type: decimal;
}
